<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <!-- Favicon -->
    <link rel="icon" href="~/bueno-master/img/core-img/Yemek Tarifleri.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>
<body>
    <header class="header-area">
        <!-- ##### Header Area Start ##### -->
        <!-- Logo Area -->
        <div class="logo-area">
            <a href="Anasayfa"><img src="~/bueno-master/img/imgs/yemektarifleri-logo.png" alt="" style=" height:125px;"></a>
        </div>
 
    </header>
    <!-- ##### Header Area End ##### -->
    <br />
    <!-- ##### Search Area Start ##### -->
    @*<div class="bueno-search-area section-padding-100-0 pb-70 bg-img">*@
    
    @*</div>*@
    <!-- ##### Search Area End ##### -->

    @RenderBody()

    <footer class="footer-area">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-7">

                    <div class="footer-nav">
                        <ul>
                            <li style=" list-style:none;"><a href="anasayfa">anasayfa</a></li>
                            <li style=" list-style:none;"><a href="kategoriler">tarifler</a></li>
                            <li style=" list-style:none;"><a href="menuler">menüler</a></li>
                            <li style=" list-style:none;"><a href="nepisirilir">ne pişirilir</a></li>
                            <li style=" list-style:none;"><a href="tarifpaylas">tarif paylaş</a></li>
                            <li style=" list-style:none;"><a href="blog">blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/bueno-master/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/bueno-master/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/bueno-master/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/bueno-master/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/bueno-master/js/active.js"></script>


</body>
</html>
