<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <!-- Favicon -->
    <link rel="icon" href="~/bueno-master/img/core-img/Yemek Tarifleri.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">
    <link rel="shortcut icon" href="~/PurpleAdmin-Free-Admin-Template-master/assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/PurpleAdmin-Free-Admin-Template-master/assets/vendors/mdi/css/materialdesignicons.min.css">

</head>
<body class="layoutBody">

    <header class="header-area">
        <!-- ##### Header Area Start ##### -->
        <!-- Logo Area -->
        <div class="logo-area">
            <a href="Anasayfa"><img src="~/bueno-master/img/imgs/yemektarifleri-logo.png" alt="" style=" height:125px;"></a>
        </div>

        <!-- Navbar Area -->
        <div class="bueno-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container ">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="buenoNav">

                        <!-- Toggler -->
                        <div id="toggler"><img src="/bueno-master/img/core-img/toggler.png" alt=""></div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span>  </span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>

                                    <li><a href="Anasayfa">Anasayfa</a></li>
                                    <li>
                                        <a href="Kategoriler">Tarifler</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="KategoriDetay"> Yemek Çeşitleri</a></li>
                                                <li><a href="KategoriDetay">- Çorbalar</a></li>
                                                <li><a href="KategoriDetay">- Et Yemekleri</a></li>
                                                <li><a href="KategoriDetay">- Kahvaltılık</a></li>
                                                <li><a href="KategoriDetay">- Bakliyat Yemekleri</a></li>
                                                <li><a href="KategoriDetay">- Sarma-Dolma</a></li>
                                                <li><a href="KategoriDetay">- Daha Fazla </a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="KategoriDetay">Tatlı Çeşitleri</a></li>
                                                <li><a href="KategoriDetay">- Kek-Pasta-Kurabiye</a></li>
                                                <li><a href="KategoriDetay">- Şerbetli Tatlılar</a></li>
                                                <li><a href="KategoriDetay">- Sütlü Tatlılar</a></li>
                                                <li><a href="KategoriDetay">- Dondurmalar</a></li>
                                                <li><a href="KategoriDetay">- Geleneksel Tatlılar</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="KategoriDetay">Sağlıklı Beslenme</a></li>
                                                <li><a href="KategoriDetay">- Vejeteryan Tarifler</a></li>
                                                <li><a href="KategoriDetay">- Vegan Tarifler</a></li>
                                                <li><a href="KategoriDetay">-Diyabetik Tarifleri</a></li>
                                                <li><a href="KategoriDetay">- Düşük Kalorili Tarifleri</a></li>
                                                <li><a href="KategoriDetay">- Diyet Tatlı Tarifleri</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="KategoriDetay">Diğer Tarifler</a></li>
                                                <li><a href="KategoriDetay">- Turşu Tarifleri</a></li>
                                                <li><a href="KategoriDetay">- Reçel-Marmelat Tarifleri</a></li>
                                                <li><a href="KategoriDetay">- Komposto Tarifleri</a></li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="Menuler">Menüler</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="MenuDetay">- Kahvaltı Menüleri</a></li>
                                                <li><a href="MenuDetay">- Öğle Yemeği Menüleri</a></li>
                                                <li><a href="MenuDetay">- Akşam Yemeği Menüleri</a></li>
                                                <li><a href="MenuDetay">- Diyet Menüleri</a></li>
                                                <li><a href="MenuDetay">- Çay Saati Menüleri</a></li>
                                                <li><a href="MenuDetay">- Ramazan Menüleri</a></li>
                                                <li><a href="MenuDetay">- Diğer Menüler</a></li>
                                            </ul>

                                        </div>
                                    </li>

                                    <li><a href="NePisirilir">Ne Pişirilir</a></li>
                                    <li><a href="Blog">Blog</a></li>
                                    <li>
                                        <input class="form-control form-control-sm" id="search" style="height:35px;" placeholder="Tarif Ara">

                                    </li>
                                    <li><button class="btn search-button " id="searchButton">Ara</button></li>
                                </ul>

                                <!-- Login/Register -->
                                <div class="login-area">
                                    <a href="GirisYap">Giriş Yap/Kaydol</a>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                    <hr class="new1" />
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <br />
    <!-- ##### Search Area Start ##### -->
    @*<div class="bueno-search-area section-padding-100-0 pb-70 bg-img">*@
    @*<div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-"></div>
                            <div class="col-8  ">
                                <div class="form-group mb-30">
                                    <input class="form-control form-control-lg" id="search" placeholder="Tarif Ara">
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group mb-30">
                                    <button class="btn bueno-btn w-100">Ara</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@
    @*</div>*@
    <!-- ##### Search Area End ##### -->

    @RenderBody()
   
<footer class="footer-area"  >
    
        <div class="row">

            <div class="col-12 col-sm-7">

                <div class="footer-nav">
                    <ul>
                        <li class="footerlists"><a class="footerlists" href="anasayfa"><i class="mdi mdi-home"></i> Anasayfa</a></li>
                        <li class="footerlists"><a class="footerlists"href="kategoriler"><i class="mdi mdi-silverware-variant"></i> Tarifler</a></li>
                        <li class="footerlists"><a class="footerlists"href="menuler"><i class="mdi mdi-book-open-page-variant"> </i> Menüler</a></li>
                        <li class="footerlists"><a class="footerlists"href="nepisirilir"><i class="mdi mdi-bowl"></i> Ne pişirilir</a></li>
                        <li class="footerlists"><a class="footerlists"href="blog"><i class="mdi mdi-blogger"></i> Blog</a> </li>
                    </ul><br />
                    @*<ul>
                        <li class="footerlists"> <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li class="footerlists"><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="footerlists"> <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="footerlists"> <a href="#" data-toggle="tooltip" data-placement="bottom" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li class="footerlists"> <a href="#" data-toggle="tooltip" data-placement="bottom" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                        <li class="footerlists"> <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>*@
                </div>
            </div>
        </div>
    
</footer>
    
    
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/bueno-master/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/bueno-master/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/bueno-master/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/bueno-master/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/bueno-master/js/active.js"></script>


</body>
</html>
