
<!--@{
    ViewBag.Title = "AltKategoriDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <!--<title>Bueno - Food Blog HTML Template</title>-->



    <!-- Stylesheet -->
    <!--<link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body>-->

    <!-- ##### Catagory Post Area Start ##### -->
    <!--<div class="catagory-post-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">-->
                <!-- Post Area -->
                <!--<div class="col-12 col-lg-8 col-xl-9">
                    <h2 style="text-align: center; color:#C0503C;">Kırmızı Et Yemekleri</h2>
                    <br />-->
                    <!-- Single Blog Post -->
                    <!--<div class="single-blog-post style-1 d-flex flex-wrap mb-30">-->
                        <!-- Blog Thumbnail -->
                        <!--<div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/karniyarik.jpg" alt="">
                        </div>-->
                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Karnıyarık Tarifi</a>
                            <ul>
                                <li>6 adet küçük boy patlıcan (büyük ise ikiye bölebilirsiniz)</li>
                                <li> 3 adet sivri biber</li>
                                <li>Kıymalı Harç İçin:</li>
                                <li> 2 adet orta boy soğan</li>
                                <li>2 adet domates</li>
                                <li>2 adet sivri biber</li>
                                <li>2 diş sarımsak</li>
                                <li>Sıvı yağ, tuz, karabiber, kırmızıbiber</li>
                                 
                            </ul>
                            <br />
                            <a href="TarifDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>

                        </div>
                    </div>-->
                    <!-- Single Blog Post -->
                    <!--<div class="single-blog-post style-1 d-flex flex-wrap mb-30">-->
                        <!-- Blog Thumbnail -->
                        <!--<div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/cokertme.jpg" alt="">
                        </div>-->
                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Çökertme Kebabı Tarifi</a>
                            <ul>
                                <li><b>Marine için:</b></li>
                                <li> 400 g biftek veya bonfile</li>
                                <li>4 çorba kaşığı sıvı yağ</li>
                                <li>1 çay kaşığı kekik</li>
                                <li>1 çay kaşığı pul biber</li>
                                <li>1 çorba kaşığı rendelenmiş soğan</li>
                                <li>½ çay kaşığı karabiber</li>
                                <li>1 çorba kaşığı yoğurt</li>
                                 
                            </ul>
                            <br />
                            <a href="TarifDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>

                        </div>
                    </div>-->

                    <!-- Single Blog Post -->
                    <!--<div class="single-blog-post style-1 d-flex flex-wrap mb-30">-->
                        <!-- Blog Thumbnail -->
                        <!--<div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/sehzade.jpg" alt="">
                        </div>-->
                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Şehzade Kebabı Tarifi</a>
                            <ul>
                                <li>1 kg kuşbaşı dana eti</li>
                                <li>5 adet patlıcan</li>
                                <li>3 yemek kaşığı sıvı yağ</li>
                                <li>2 adet soğan</li>
                                <li>4-5 adet yeşil biber</li>
                                <li>4-5 diş sarımsak</li>
                                <li>1 çay kaşığı karabiber</li>
                                <li>1 çay kaşığı pul biber</li>
                              
                            </ul>
                            <br />
                            <a href="TarifDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>
                        </div>
                    </div>-->

                    <!-- Single Blog Post -->
                    <!--<div class="single-blog-post style-1 d-flex flex-wrap mb-30">-->
                        <!-- Blog Thumbnail -->
                        <!--<div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/belentava.jpg" alt="">
                        </div>-->
                        <!-- Blog Content -->
                        <!--<div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Belen Tava Tarifi</a>
                            <ul>
                                <li>500 gr  kuşbaşı dana eti</li>
                                <li>2 adet soğan</li>
                                <li>4 adet yeşil biber</li>
                                <li>1 adet kırmızı biber</li>
                                <li>4 adet domates</li>
                                <li>4 diş sarımsak</li>
                                <li>Tereyağı</li>
                                <li><b>Sosu için:</b></li>
                                
                            </ul>   
                            <br />
                            <a href="TarifDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    @*##### Catagory Post Area End #####*@


</body>

</html>-->

