
@{
    ViewBag.Title = "AltMenuDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body>

    <!-- ##### Catagory Area Start ##### -->
    <div class="post-catagory ">
        <div class="container">
            <h2 class="category-title">Menü İçeriği</h2>
            <br />
            <div class="row">

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/tarhana-corbasi.jpg" alt="">

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Çorba</p>
                        <a href="TarifDetay" class="post-title">Tarhana Çorbası</a>
                        <ul>
                            <li> <bold>Malzemeler:<br /></bold></li>
                            <li>3 yemek kaşığı ev tarhanası</li>
                            <li>1 yemek kaşığı nane </li>
                            <li>2 yemek kaşığı sıvı yağ </li>
                            <li>1 yemek kaşığı salça</li>
                        </ul>
                        <br />
                        <a href="TarifDetay" style=" color:#C0503C;"><u>Devamını Gör</u></a>
                        <br /><br />
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/hunkar-begendi.jpg" alt="">

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Ana Yemek</p>
                        <a href="TarifDetay" class="post-title">Hünkar Beğendi</a>
                        <ul>
                            <li> <bold>Malzemeler: </bold></li>
                            <li><bold>Beğendi için: </bold></li>
                            <li>2 adet patlıcan </li>
                            <li>1 su bardağı süt </li>
                            <li>1 yemek kaşığı un</li>
                        </ul>
                        <br />
                        <a href="TarifDetay" style=" color:#C0503C;"><u>Devamını Gör</u></a>
                        <br /><br />
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/su-b.jpg" alt="">

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Ara Sıcak</p>
                        <a href="TarifDetay" class="post-title">Su Böreği</a>
                        <ul>
                            <li> <bold>Malzemeler: </bold></li>
                            <li><bold>Hamuru için: </bold></li>
                            <li>4,5 su bardağı un </li>
                            <li>4 yumurta </li>
                            <li>1 su bardağı ılık süt</li>
                        </ul>
                        <br />
                        <a href="TarifDetay" style=" color:#C0503C;"><u>Devamını Gör</u></a>
                        <br /><br />
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/salata.jpg" alt="">

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Salata</p>
                        <a href="TarifDetay" class="post-title">Mor Lahana Salatası</a>
                        <ul>
                            <li> <bold>Malzemeler: </bold></li>
                            <li>Orta boy yarım mor lahana</li>
                            <li> 1 tutam maydanoz </li>
                            <li>1 tutam dereotu </li>
                            <li>2 yemek kaşığı sirke</li>
                        </ul>
                        <br />
                        <a href="TarifDetay" style=" color:#C0503C;"><u>Devamını Gör</u></a>
                        <br /><br />
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/serbetli-tatlı.jpg" alt="">

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Tatlı</p>
                        <a href="TarifDetay" class="post-title">Baklava</a>
                        <ul>
                            <li> <bold>Malzemeler: </bold></li>
                            <li>3 yumurta</li>
                            <li> 1 su bardağı süt </li>
                            <li>1 su bardağı sıvı yağ </li>
                            <li>1 adet kabartma tozu</li>
                        </ul>
                        <br />
                        <a href="TarifDetay" style=" color:#C0503C;"><u>Devamını Gör</u></a>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>


