@model List<Bitirme_Odevi.Reicpes>
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Anasayfa</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">
    <link rel="shortcut icon" href="~/PurpleAdmin-Free-Admin-Template-master/assets/images/favicon.ico" />
    <link rel="stylesheet" href="~/PurpleAdmin-Free-Admin-Template-master/assets/vendors/mdi/css/materialdesignicons.min.css">
</head>

<body>
    <div class="big-posts-area mb-50">
        <div class="container">
            <!-- ##### Günün Menüsü ##### -->
            <div class="hero-area" style="margin : 25px;">
                <!-- Hero Post Slides -->
                <div class="hero-post-slides owl-carousel">

                    <!-- Single Slide -->
                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="TarifDetay"><img src="~/bueno-master/img/imgs/background-1.png" alt=""></a>
                        </div>
                      
                        <!-- Blog Content -->
                        <div class="blog-content-bg">
                            <div class="blog-content">
                                <a href="TarifDetay" class="post-tag" style="font-size:medium">Günün Menüsü</a>
                                <a href="TarifDetay" style="font-size: medium">Tarhana Çorbası</a><br />
                                <a href="TarifDetay" style="font-size: medium">Hünkar Beğendi</a><br />
                                <a href="TarifDetay" style="font-size:medium"> Yeşil Salata</a><br />
                                <a href="TarifDetay" style="font-size: medium">Baklava</a><br /><br />
                                <a href="TarifDetay" style="font-size: medium; color:#C0503C;"><u>Tamamını Görüntüle</u></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="TarifDetay"><img src="~/bueno-master/img/imgs/tarhana-corbasi.jpg" alt=""></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content-bg">
                            <div class="blog-content">
                                <a href="TarifDetay" class="post-tag" style="font-size:medium">Günün Menüsü</a><br />
                                <a href="TarifDetay" class="post-title" style="font-size: x-large;"> Tarhana Çorbası</a>

                            </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="TarifDetay"><img src="~/bueno-master/img/imgs/hunkar-begendi.jpg" alt=""></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content-bg">
                            <div class="blog-content">
                                <a href="TarifDetay" class="post-tag" style="font-size:medium">Günün Menüsü</a><br />
                                <a href="TarifDetay" class="post-title" style="font-size: x-large;"> Hünkar Beğendi</a>

                            </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="TarifDetay"><img src="~/bueno-master/img/imgs/salata.jpg" alt=""></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content-bg">
                            <div class="blog-content">
                                <a href="TarifDetay" class="post-tag" style="font-size:medium">Günün Menüsü</a><br />
                                <a href="TarifDetay" class="post-title" style="font-size: x-large;">  Yeşil Salata</a>

                            </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="single-slide">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="TarifDetay"><img src="~/bueno-master/img/imgs/serbetli-tatlı.jpg" alt=""></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content-bg">
                            <div class="blog-content">
                                <a href="TarifDetay" class="post-tag" style="font-size:medium">Günün Menüsü</a><br />
                                <a href="TarifDetay" class="post-title" style="font-size: x-large;">  Baklava</a>

                            </div>
                        </div>
                    </div>




                </div>
            </div>
            <hr class="new1" />
            <!--#### Popüler Tarifler#####-->
            <div class="row hero-area">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/belentava.jpg" alt="">

                        </div>
                    </div>
                    <!-- Single Post Catagory -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/sebze-yemegi.jpg" alt="">

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="big-post-content text-center mb-50">

                            <h2 style="color: #C0503C; text-align: center; margin-top: 50px; margin-bottom: 25px; ">Popüler Tarifler</h2>

                            <p class="post-title" style="font-size:medium;">
                                Doyurucu, besleyici, lezzetli ve göze hitap eden muhteşem yemeklerden oluşan bu liste,
                                sitemizde bulunan tarifler arasında en çok tercih edilen tariflerden oluşmaktadır.
                            </p>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/recel.jpg" alt="">

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/kek.jpg" alt="">

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <br />

                        <div class="single-post-catagory mb-30">
                            <a href="KategoriDetay" class="btn bueno-btn w-100">Tüm Popüler Tarifleri Gör</a>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="new1" />
            <!--^#### Menü Önerileri#####-->
            <div class="row hero-area">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="big-post-content text-center mb-50">

                            <h2 style="color: #C0503C; text-align: center; margin-top: 50px; margin-bottom: 25px; "> Menü Önerileri</h2>
                            <br />

                            <p class="post-title" style="font-size:medium;">
                                Sabah, öğle, akşam öğünleri için, çay saatleri için ve vegan, vejeteryan ve diyabetik kişiler için
                                hazırlanmış tarifler ve daha fazlasını içeren çeşitli menüler bulunmaktadır.
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/kahvaltılık.jpg" alt="">
                            <!-- Content -->
                            <div class="catagory-content-bg">
                                <div class="catagory-content">
                                    <a href="MenuDetay" class="post-title">Kahvaltı </a>
                                    <a href="MenuDetay" class="post-title">Menüleri</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/sebze-yemegi.jpg" alt="">
                            <!-- Content -->
                            <div class="catagory-content-bg">
                                <div class="catagory-content">
                                    <a href="MenuDetay" class="post-title">Öğle Yemeği</a>
                                    <a href="MenuDetay" class="post-title">Menüleri</a>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <br />

                        <div class="single-post-catagory mb-30">
                            <a href="Menuler" class="btn bueno-btn w-100">Tüm Menüleri Gör</a>

                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/hunkar-begendi.jpg" alt="">
                            <!-- Content -->
                            <div class="catagory-content-bg">
                                <div class="catagory-content">
                                    <a href="MenuDetay" class="post-title">Akşam Yemeği</a>
                                    <a href="MenuDetay" class="post-title">Menüleri</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/diyet.jpg" alt="">
                            <!-- Content -->
                            <div class="catagory-content-bg">
                                <div class="catagory-content">
                                    <a href="MenuDetay" class="post-title">Diyet </a>
                                    <a href="MenuDetay" class="post-title">Menüleri</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="new1" />
            <!--^#### Ne Pişirilir#####-->
            <div class="row hero-area">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-12 col-sm-8">
                        <div class="instagram-feed-area d-flex flex-wrap">
                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/domates.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/biber.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/sogan.jpg" alt="">

                            </div>
                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/patates.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/balkabagi.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/salca.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/et.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/seker.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/süt.jpg" alt="">

                            </div>

                            <!-- Single Instagram -->
                            <div class="single-instagram">
                                <img src="~/bueno-master/img/imgs/yumurta.jpg" alt="">

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 ">
                        <div class="big-post-content text-center mb-50">

                            <h2 style="color: #C0503C; text-align: center; margin-top: 50px; margin-bottom: 25px; ">Ne Pişirilir ?</h2>
                            <br />
                            <p class="post-title" style="font-size:medium;">Evde bulunan malzemeler ile hangi tarifleri yapabileceğinizi görün.</p>
                            <a href="NePisirilir" class="btn bueno-btn">Ne Pişirilir</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="new1" />
            <!-- ######  BLOG  ######-->
            <div class="row hero-area">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="big-post-content text-center mb-50">

                            <h2 style="color: #C0503C; text-align: center; margin-top: 50px;margin-bottom:25px;">Blog</h2>
                            <br />

                            <p class="post-title" style="font-size:medium;">
                                Sağlıklı yaşam, evde bitki yetiştirme ve bakımı, mutfakta kolaylık sağlayacak püf noktalar ve daha fazlası için Blog sayfasını
                                ziyaret edin.

                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/blogIcerik-1.jpg" alt="">

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/blogIcerik-2.jpg" alt="">

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <br />

                        <div class="single-post-catagory mb-30">
                            <a href="Menuler" class="btn bueno-btn w-100">Blog Sayfasını Ziyaret Edin</a>

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/bitki-yetistir.jpg" alt="">

                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-post-catagory mb-30">
                            <img src="~/bueno-master/img/imgs/olcu-birimleri.jpg" alt="">

                        </div>
                    </div>
                </div>
            </div>
            <hr class="new1" />
        </div>


    </div>
</body>

</html>