
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog</title>
    <link rel="stylesheet" href="/bueno-master/style.css">
    <link rel="shortcut icon" href="~/PurpleAdmin-Free-Admin-Template-master/assets/images/favicon.ico" />
</head>

<body>

    <!-- ##### Catagory Post Area Start ##### -->
    
    <div class="container">
        <div class="catagory-post-area ">
            <div class="row justify-content-center">
                <!-- Post Area -->

                <div class="col-12 col-lg-8 col-xl-9">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">


                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/saglikli-yasam.jpg" alt="">
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="BlogIcerik" class="post-tag" style="font-size: large;">Sağlıklı Yaşam<br /></a>
                            <p>Sağlık, insan yaşamının sürdürülmesinde, yaşam kalitesinin yükseltilmesinde ve korunmasında özel bir öneme sahiptir.Sağlığın korunması ve geliştirilmesi kişinin öncelikle kendi sağlığına sahip çıkması ve sağlık bilincini geliştirmesi ile mümkün olduğu unutulmamalıdır.</p>
                            <br />
                            <a href="BlogIcerik" class="btn bueno-btn w-100" style="  text-align:center;">Daha Fazlasını Gör...</a>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/bitki-yetistir.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">

                            <a href="BlogIcerik" class="post-tag" style="font-size: large;">Yetiştir</a>
                            <p>Evde sebze-meyve nasıl yetiştirilir, şifalı bitkiler nasıl kullanılır, evde çiçek bakımı nasıl yapılır, bitkilerin faydaları nelerdir keşfetin.</p>
                            <br /><br /><br /><br />
                            <a href="BlogIcerik" class="btn bueno-btn w-100" style="  text-align:center;">Daha Fazlasını Gör...</a>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/Puf-Noktalari.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="BlogIcerik" class="post-tag" style="font-size: large;">Püf Noktası</a>
                            <p>Mutfakta hayatınızı kolaylaştıracak püf noktalarını öğrenin.</p>
                            <br /><br /><br /><br /><br /><br /><br />
                            <a href="BlogIcerik" class="btn bueno-btn w-100" style="  text-align:center;">Daha Fazlasını Gör...</a>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/olcu-birimleri.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="BlogIcerik" class="post-tag" style="font-size: large;">Ölçü Birimleri</a>
                            <p>Baharat, bakliyat, yağ, salça,süt ve süt ürünleri, unlar ve diğer tozlar vb. ürünlerin ölçü referanslarını görün.</p>
                            <br /><br /><br /><br /><br /><br /><br />
                            <a href="BlogIcerik" class="btn bueno-btn w-100" style="  text-align:center;">Daha Fazlasını Gör...</a>
                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>


</body>

</html>

