
@{
    ViewBag.Title = "BlogIcerik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body>

    <!-- ##### Catagory Post Area Start ##### -->
    <div class="catagory-post-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <h2 style="text-align: center; color:#C0503C;">Sağlıklı Yaşam</h2>
                    <br />
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/blogIcerik-1.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Yeterli ve Dengeli Beslenme Nedir?</a>
                            <p>
                                Yeterli ve Dengeli Beslenme Sağlığın Temelidir.

                                Beslenme açlık duygusunu bastırmak, karın doyurmak ya da canının çektiği şeyleri yemek içmek değildir.

                                Beslenme; sağlığı korumak, geliştirmek ve yaşam kalitesini yükseltmek için vücudun gereksinimi olan besin öğelerini yeterli miktarlarda ve uygun zamanlarda almak için bilinçli yapılması gereken bir davranıştır.

                                <b>Besin öğeleri vücudun gereksinmesi düzeyinde alınamadığında Yetersiz Beslenme oluşur.</b>

                            </p>

                            <a href="BlogDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>
                        </div>
                    </div>
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/blogIcerik-2.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Temel Besin Grupları</a>
                            <p>
                                Yeterli ve dengeli beslenme için aşağıdaki 5 temel besin grubunda yer alan besinlerden önerilen miktarda tüketilmelidir.
                            </p>
                            <h6>  Süt Grubu</h6>
                            <p>
                                Başta yetişkin kadınlar, çocuklar ve gençler olmak üzere tüm yaş gruplarının bu grubu her gün tüketmesi gerekir.

                                Bu grupta yer alan besinler:

                                Süt ve yerine geçen besinler; yoğurt, peynir ve süttozu gibi sütten yapılan besinler
                            </p>

                            <a href="BlogDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>

                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/blogIcerik-3.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Fiziksel Aktivite Nedir?</a>
                            <p>
                                Fiziksel aktivite enerji kullanarak vücut hareketlerini anlatmak için kullanılan uluslar arası bir terimdir. 
                                En basit tanımı ile enerjiyi harcamak için vücudun hareket etmesidir.
                                Fiziksel aktivite günlük yaşam içerisinde kas ve eklemlerimizi kullanarak enerji tüketimi ile gerçekleşen, 
                                kalp ve solunum hızını arttıran ve farklı şiddetlerde yorgunlukla sonuçlanan aktiviteler olarak tanımlanabilir.
                            </p>
                            
                            <a href="BlogDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>
                        </div>
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <img src="~/bueno-master/img/imgs/blogIcerik-4.jpg" alt="">
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="TarifDetay" class="post-tag" style="font-size: large;">Masabaşında Egzersiz Programı</a>
                            <p>
                                Hareketsiz meslek gruplarından biri olarak bilinen masabaşında çalışan kişiler için tasarlanmıştır.
                                Çalışma saatlerinin büyük bir kısmını sandalyede oturarak, bilgisayar karşısında çalışarak geçiren
                                bu meslek grubu insanlarda özellikle bilek, dirsek, boyun, bel ve sırt ağrıları çok fazla görülmektedir.
                            </p>
                            <a href="BlogDetay" class="btn bueno-btn w-100" style="  text-align:center;">Devamını Gör</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



