
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Bueno - Food Blog HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="~/bueno-master/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/bueno-master/style.css">

</head>

<body>
   

   
    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="post-details-content mb-100">
                        <div class="blog-thumbnail mb-50" style="width:400px;">
                            <img src="~/bueno-master/img/imgs/blogIcerik-1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <a href="#" class="post-tag">Sağlıklı Yaşam</a>
                            <h4 class="post-title">Yeterli ve Dengeli Beslenme Nedir?</h4>
                            <p>
                                Beslenme açlık duygusunu bastırmak, karın doyurmak ya da canının çektiği şeyleri yemek içmek değildir.

                                Beslenme; sağlığı korumak, geliştirmek ve yaşam kalitesini yükseltmek için vücudun gereksinimi olan besin öğelerini yeterli miktarlarda ve uygun zamanlarda almak için bilinçli yapılması gereken bir davranıştır.

                                Besin öğeleri vücudun gereksinmesi düzeyinde alınamadığında Yetersiz Beslenme oluşur.
                            </p>
                            <p>
                                İnsanın yaşamı için 50’ ye yakın besin öğesine gereksinimi vardır. İnsanın, sağlıklı büyüme ve gelişmesi, sağlıklı ve üretken olarak uzun süre yaşaması için bu öğelerin her birinden günlük ne kadar alınması gerektiği belirlenmiştir.

                                Bu öğelerin herhangi biri alınmadığında, gereğinden az ya da çok alındığında,büyüme ve gelişme engellenir, sağlık bozulur.Gereğinden fazla besin tüketilirse, çok alınan bazı öğeler vücutta yağ olarak depolandığından sağlık için zararlı olur. Bu duruma Dengesiz Beslenme denir.

                                Dengesiz beslenmenin önlenmesinde beslenme eğitimi ile sağlıklı beslenme bilincinin kazandırılması büyük bir önem taşır.
                            </p>

                            <h6><u>Yeterli ve Dengeli Beslenen Kişiler;</u></h6>
                            <ul style="list-style-type:disc;">

                                <li>Sağlam ve sağlıklı bir görünüştedir.</li>
                                <li>Hareketli ve esnek bir bedene,</li>
                                <li>Muntazam bir cilde, canlı ve parlak saçlara ve gözlere,</li>
                                <li>Kuvvetli, gelişimi normal kaslara,</li>
                                <li>Çalışmaya istekli kişiliğe,</li>
                                <li>Boy uzunluğuna uygun vücut ağırlığına,</li>
                                <li>Normal zihinsel gelişme,</li>
                                <li>Sık sık hasta olmayan bir yapıya sahiptir.</li>

                            </ul>
                            <br />
                            <h6><u>Yetersiz ve Dengesiz Beslenenler ise;</u></h6>
                            <ul style="list-style-type:disc;">
                                
                                <li>Hareketleri ağır ve isteksiz</li>
                                <li>Sağlıksız genel görünüşte (aşırı zayıf veya şişman)</li>
                                <li>Pürüzlü, kuru, sağlıksız cilt yapısına,</li>
                                <li>Şişman veya zayıf vücut yapısına,</li>
                                <li>Sıksık baş ağrısından şikayet eden</li>
                                <li> İştahsız, yorgun, isteksiz bir yapıya sahiptir.</li>

                            </ul>











                        </div>
                    </div>

                           

                   
                </div>                   
                         
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
  
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>