
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Tarifler</title>



    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body>

    <!-- ##### Catagory Area Start ##### -->
   
        <div class="container">
        
            <h2 class="category-title">Yemek Çeşitleri</h2>
            <br />
            <div class="row">

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">


                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/tarhana-corbasi.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Çorbalar</a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/hunkar-begendi.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Et</a>
                                <a href="KategoriDetay" class="post-title">Yemekleri</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/sebze-yemegi.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Sebze</a>
                                <a href="KategoriDetay" class="post-title">Yemekleri</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/hamurisi.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Hamur İşi</a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/bakliyat-yemegi.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Bakliyat</a>
                                <a href="KategoriDetay" class="post-title">Yemekleri</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/sarma-dolma.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Sarmalar-</a>
                                <a href="KategoriDetay" class="post-title">Dolmalar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/pilav.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Pilavlar</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/makarna.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Makarnalar</a>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/salata.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Salata-</a>
                                <a href="KategoriDetay" class="post-title">Meze</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/kahvaltılık.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Kahvaltılıklar</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/dunya-mutfagi.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Dünya Mutfaklarından</a>
                                <a href="KategoriDetay" class="post-title">Tarifler</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="new1" />
            <h2 class="category-title">Tatlı Çeşitleri</h2>

            <div class="row">

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">


                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/kek.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Kek-Pasta-</a>
                                <a href="KategoriDetay" class="post-title">Kurabiye</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/serbetli-tatlı.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Şerbetli </a>
                                <a href="KategoriDetay" class="post-title">Tatlılar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/sutlu-tatli.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Sütlü</a>
                                <a href="KategoriDetay" class="post-title">Tatlılar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/dondurma.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Dondurmalar</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="new1" />
            <h2 class="category-title">Sağlıklı Beslenme</h2>

            <div class="row">

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">


                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/vejeteryan.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Vejeteryan </a>
                                <a href="KategoriDetay" class="post-title">Tarifler</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/vegan.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Vegan </a>
                                <a href="KategoriDetay" class="post-title">Tarifler</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/diyabetik.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Diyabetik</a>
                                <a href="KategoriDetay" class="post-title">Tarifler</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/diyet.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Düşük Kalorili</a>
                                <a href="KategoriDetay" class="post-title">Tarifler</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/diyet-tatli.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Diyet Tatlı</a>
                                <a href="KategoriDetay" class="post-title">Tarifleri</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <hr class="new1" />
            <h2 class="category-title">Diğer Tarifler</h2>

            <div class="row">

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">


                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/tursu.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Turşu </a>
                                <a href="KategoriDetay" class="post-title">Tarifleri</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/recel.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Reçel-Marmelat </a>
                                <a href="KategoriDetay" class="post-title">Tarifleri</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/komposto.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="KategoriDetay" class="post-title">Komposto</a>
                                <a href="KategoriDetay" class="post-title">Tarifleri</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
     
    <!-- ##### Catagory Area End ##### -->



</body>

</html>