
@{
    ViewBag.Title = "KategoriDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Bueno - Food Blog HTML Template</title>



    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body>

    <!-- ##### Catagory Post Area Start ##### -->
    
    <div class="container">
        <h2 class="category-title"> Et Yemekleri</h2>
        <div class="row   ">
            <!-- Post Area -->

            <div class="col-12 col-sm-6 ">

                <br />
                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/karniyarik.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Karnıyarık Tarifi</a>
                        <ul>
                            <li class="malzemeler">6 adet küçük boy patlıcan</li>
                            <li class="malzemeler"> 3 adet sivri biber</li>
                            <li class="malzemeler">Kıymalı Harç İçin:</li>
                            <li class="malzemeler"> 2 adet orta boy soğan</li>
                            <li class="malzemeler">2 adet domates</li>
                            <li class="malzemeler">2 adet sivri biber</li>
                            <li class="malzemeler">2 diş sarımsak</li>
                         

                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>

                    </div>
                </div>
                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/cokertme.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Çökertme Kebabı Tarifi</a>
                        <ul>
                            <li class="malzemeler"><b>Marine için:</b></li>
                            <li class="malzemeler"> 400 g biftek veya bonfile</li>
                            <li class="malzemeler">4 çorba kaşığı sıvı yağ</li>
                            <li class="malzemeler">1 çay kaşığı kekik</li>
                            <li class="malzemeler">1 çay kaşığı pul biber</li>
                            <li class="malzemeler">1 çorba kaşığı rendelenmiş soğan</li>
                            <li class="malzemeler">½ çay kaşığı karabiber</li>
                         

                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>

                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/sehzade.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Şehzade Kebabı Tarifi</a>
                        <ul>
                            <li class="malzemeler">1 kg kuşbaşı dana eti</li>
                            <li class="malzemeler">5 adet patlıcan</li>
                            <li class="malzemeler">3 yemek kaşığı sıvı yağ</li>
                            <li class="malzemeler">2 adet soğan</li>
                            <li class="malzemeler">4-5 adet yeşil biber</li>
                            <li class="malzemeler">4-5 diş sarımsak</li>
                            <li class="malzemeler">1 çay kaşığı karabiber</li>
                            

                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/belentava.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Belen Tava Tarifi</a>
                        <ul>
                            <li class="malzemeler">500 gr  kuşbaşı dana eti</li>
                            <li class="malzemeler">2 adet soğan</li>
                            <li class="malzemeler">4 adet yeşil biber</li>
                            <li class="malzemeler">1 adet kırmızı biber</li>
                            <li class="malzemeler">4 adet domates</li>
                            <li class="malzemeler">4 diş sarımsak</li>
                            <li class="malzemeler">Tereyağı</li>
                        

                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 ">
                <br />
                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/karniyarik.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Karnıyarık Tarifi</a>
                        <ul>
                            <li class="malzemeler">6 adet küçük boy patlıcan</li>
                            <li class="malzemeler"> 3 adet sivri biber</li>
                            <li class="malzemeler">Kıymalı Harç İçin:</li>
                            <li class="malzemeler"> 2 adet orta boy soğan</li>
                            <li class="malzemeler">2 adet domates</li>
                            <li class="malzemeler">2 adet sivri biber</li>
                            <li class="malzemeler">2 diş sarımsak</li>


                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>

                    </div>
                </div>
                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/cokertme.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Çökertme Kebabı Tarifi</a>
                        <ul>
                            <li class="malzemeler"><b>Marine için:</b></li>
                            <li class="malzemeler"> 400 g biftek veya bonfile</li>
                            <li class="malzemeler">4 çorba kaşığı sıvı yağ</li>
                            <li class="malzemeler">1 çay kaşığı kekik</li>
                            <li class="malzemeler">1 çay kaşığı pul biber</li>
                            <li class="malzemeler">1 çorba kaşığı rendelenmiş soğan</li>
                            <li class="malzemeler">½ çay kaşığı karabiber</li>


                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>

                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/sehzade.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Şehzade Kebabı Tarifi</a>
                        <ul>
                            <li class="malzemeler">1 kg kuşbaşı dana eti</li>
                            <li class="malzemeler">5 adet patlıcan</li>
                            <li class="malzemeler">3 yemek kaşığı sıvı yağ</li>
                            <li class="malzemeler">2 adet soğan</li>
                            <li class="malzemeler">4-5 adet yeşil biber</li>
                            <li class="malzemeler">4-5 diş sarımsak</li>
                            <li class="malzemeler">1 çay kaşığı karabiber</li>


                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="~/bueno-master/img/imgs/belentava.jpg" alt="">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="TarifDetay" class="post-tag" style="font-size: x-large;">Belen Tava Tarifi</a>
                        <ul>
                            <li class="malzemeler">500 gr  kuşbaşı dana eti</li>
                            <li class="malzemeler">2 adet soğan</li>
                            <li class="malzemeler">4 adet yeşil biber</li>
                            <li class="malzemeler">1 adet kırmızı biber</li>
                            <li class="malzemeler">4 adet domates</li>
                            <li class="malzemeler">4 diş sarımsak</li>
                            <li class="malzemeler">Tereyağı</li>


                        </ul>
                        <br />
                        <a href="TarifDetay" class="btn bueno-btn w-50" style="  text-align:center;">Devamını Gör</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
    @*##### Catagory Post Area End #####*@


</body>

</html>

