
@{
    ViewBag.Title = "MenuDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "MenuDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Stylesheet -->
    <title>Menü Detay</title>
    <link rel="stylesheet" href="/bueno-master/style.css">
    <style>
        ul li {
            color: #313c42;
        }
    </style>
</head>

<body>
    <!-- ##### Catagory Area Start ##### -->
    <div class="post-catagory section-padding-100">
        <div class="container">
            <h2 class="category-title">Menüler</h2>
            <br />
            <div class="row">

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="AltMenuDetay" class="post-title">Günün Menüsü</a>

                            </div>
                        </div>

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Günün Menüsü<br /></p>
                        <ul>
                            <li> <a href="TarifDetay"> XXXX Çorbası</a></li>
                            <li><a href="TarifDetay">XXXXX Yemeği</a></li>
                            <li><a href="TarifDetay">XXXX Salatası</a></li>
                            <li>  <a href="TarifDetay"> XXXX Tatlısı</a></li>
                        </ul>
                        <br />
                        <a href="AltMenuDetay" style="color:#C0503C;"><u>Tamamını Görüntüle</u></a>

                        <br /><br />
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="AltMenuDetay" class="post-title">Menü 1</a>


                            </div>
                        </div>

                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Menü 1<br /></p>
                        <ul>
                            <li> <a href="TarifDetay"> Tarhana Çorbası</a></li>
                            <li><a href="TarifDetay">Hünkar Beğendi</a></li>
                            <li><a href="TarifDetay">Su Böreği</a></li>
                            <li>  <a href="TarifDetay"> Mor Lahana Salatası</a></li>
                        </ul>
                        <br />
                        <a href="AltMenuDetay" style="color:#C0503C;"><u>Tamamını Görüntüle</u></a>

                        <br /><br />
                    </div>
                </div>
                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="AltMenuDetay" class="post-title">Menü 2</a>

                            </div>
                        </div>
                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Menü 2<br /></p>
                        <ul>
                            <li> <a href="TarifDetay"> Yayla Çorbası</a></li>
                            <li><a href="TarifDetay">Patlıcan Kebabı</a></li>
                            <li><a href="TarifDetay">Sebze Tarator</a></li>
                            <li>  <a href="TarifDetay">Kupta Karamel Soslu Tavuk Göğsü</a></li>
                        </ul>
                        <br />
                        <a href="AltMenuDetay" style="color:#C0503C;"><u>Tamamını Görüntüle</u></a>

                        <br /><br />
                    </div>
                </div>

                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="AltMenuDetay" class="post-title">Menü 3</a>

                            </div>
                        </div>
                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Menü 3<br /></p>
                        <ul>
                            <li> <a href="TarifDetay"> Yayla Çorbası</a></li>
                            <li><a href="TarifDetay">Patlıcan Kebabı</a></li>
                            <li><a href="TarifDetay">Sebze Tarator</a></li>
                            <li>  <a href="TarifDetay">Kupta Karamel Soslu Tavuk Göğsü</a></li>
                        </ul>
                        <br />
                        <a href="AltMenuDetay" style="color:#C0503C;"><u>Tamamını Görüntüle</u></a>

                        <br /><br />
                    </div>
                </div>


                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="AltMenuDetay" class="post-title">Menü 4</a>

                            </div>
                        </div>
                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Menü 4<br /></p>
                        <ul>
                            <li> <a href="TarifDetay"> Yayla Çorbası</a></li>
                            <li><a href="TarifDetay">Patlıcan Kebabı</a></li>
                            <li><a href="TarifDetay">Sebze Tarator</a></li>
                            <li>  <a href="TarifDetay">Kupta Karamel Soslu Tavuk Göğsü</a></li>
                        </ul>
                        <br />
                        <a href="AltMenuDetay" style="color:#C0503C;"><u>Tamamını Görüntüle</u></a>

                        <br /><br />
                    </div>
                </div>



                <!-- Single Post Catagory -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="AltMenuDetay" class="post-title">Menü 5</a>

                            </div>
                        </div>
                    </div> <!-- Blog Content -->
                    <div class="blog-content">
                        <p style="color:#C0503C; font-size: x-large;text-align:center">Menü 5<br /></p>
                        <ul>
                            <li> <a href="TarifDetay"> Yayla Çorbası</a></li>
                            <li><a href="TarifDetay">Patlıcan Kebabı</a></li>
                            <li><a href="TarifDetay">Sebze Tarator</a></li>
                            <li>  <a href="TarifDetay">Kupta Karamel Soslu Tavuk Göğsü</a></li>
                        </ul>
                        <br />
                        <a href="AltMenuDetay" style="color:#C0503C;"><u>Tamamını Görüntüle</u></a>

                        <br /><br />
                    </div>
                </div>


            </div>
        </div>

    </div>
</body>

</html>
