
@{
    ViewBag.Title = "Menuler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Menüler</title>
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body> 
        <div class="container">
            <h2 class="category-title">Menüler</h2>
            <div class="row">
                
                <div class="col-12 col-sm-6 col-lg-4">


                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/background-1.png" alt="">
                        
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Günün </a>
                                <a href="MenuDetay" class="post-title">Menüsü</a>
                            </div>
                        </div>
                    </div>
                </div>

               
                <div class="col-12 col-sm-6 col-lg-4">
                     
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/kahvaltılık.jpg" alt="">
                         
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Kahvaltı </a>
                                <a href="MenuDetay" class="post-title">Menüleri</a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/sebze-yemegi.jpg" alt="">
                        
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Öğle Yemeği</a>
                                <a href="MenuDetay" class="post-title">Menüleri</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/hunkar-begendi.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Akşam Yemeği</a>
                                <a href="MenuDetay" class="post-title">Menüleri</a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/diyet.jpg" alt="">
                        
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Diyet </a>
                                <a href="MenuDetay" class="post-title">Menüleri</a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/cay-saati.jpg" alt="">
                        
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Çay Saati</a>
                                <a href="MenuDetay" class="post-title">Menüleri</a>
                            </div>
                        </div>
                    </div>
                </div>
                 
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-post-catagory mb-30">
                        <img src="~/bueno-master/img/imgs/ramazan-menu.jpg" alt="">
                        <!-- Content -->
                        <div class="catagory-content-bg">
                            <div class="catagory-content">
                                <a href="MenuDetay" class="post-title">Ramazan</a>
                                <a href="MenuDetay" class="post-title">Menüleri</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
 
   


</body>

</html>