
@{
    ViewBag.Title = "NePisirilir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/bueno-master/style.css">

</head>

<body>
    <div class="container">
        <div class="row"  >
            
            <!-- ##### Instagram Area Start ##### -->
            <div class="col-12 ">
                <div class="instagram-feed-area d-flex flex-wrap">
                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/domates.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/biber.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/sogan.jpg" alt="">

                    </div>
                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/patates.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/balkabagi.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/salca.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/et.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/seker.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/süt.jpg" alt="">

                    </div>

                    <!-- Single Instagram -->
                    <div class="single-instagram">
                        <img src="~/bueno-master/img/imgs/yumurta.jpg" alt="">

                    </div>

                </div>
            </div>

            <div class="col-12  ">
                
                     
              
                <div class="form-group mb-30">
                    <form>
                        <h4 style="color: #c0503c; text-align:center;"> Evde bulunan malzemeler ile hangi tarifleri yapabileceğinizi görmek için malzemeleri seçiniz.</h4>
                        <br /><br /><br />
                        <select class="selectpicker" multiple>
                            <option selected>Malzeme Seçin</option>
                            <option value="1">Makarna</option>
                            <option value="2">Su</option>
                            <option value="3">Tuz</option>
                            <option value="4">Enginar</option>
                            <option value="5">Limon Suyu</option>
                            <option value="6">Havuç</option>
                            <option value="7">Patates</option>
                            <option value="8">Bezelye</option>
                            <option value="9">Kuru Soğan</option>
                            <option value="1">Makarna</option>
                            <option value="2">Su</option>
                            <option value="3">Tuz</option>
                            <option value="4">Enginar</option>
                            <option value="5">Limon Suyu</option>
                            <option value="6">Havuç</option>
                            <option value="7">Patates</option>
                            <option value="8">Bezelye</option>
                            <option value="9">Kuru Soğan</option>
                            <option value="1">Makarna</option>
                            <option value="2">Su</option>
                            <option value="3">Tuz</option>
                            <option value="4">Enginar</option>
                            <option value="5">Limon Suyu</option>
                            <option value="6">Havuç</option>
                            <option value="7">Patates</option>
                            <option value="8">Bezelye</option>
                            <option value="1">Makarna</option>
                            <option value="2">Su</option>
                            <option value="3">Tuz</option>
                            <option value="4">Enginar</option>
                            <option value="5">Limon Suyu</option>
                            <option value="6">Havuç</option>
                            <option value="7">Patates</option>
                            <option value="8">Bezelye</option>
                            <option value="9">Kuru Soğan</option>
                            <option value="9">Kuru Soğan</option>
                        </select>
                    </form>

</div>
                <div class=" col-4">
                    <div class="form-group mb-30">
                        <button class="btn bueno-btn w-100">Tarif Bul</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>





